incompleteRefPaperSource/mapperIncRefTransPaper2012.aux
incompleteRefPaperSource/mapperIncRefTransPaper2012.blg
incompleteRefPaperSource/mapperIncRefTransPaper2012.log
incompleteRefPaperSource/mapperIncRefTransPaper2012.pdf
incompleteRefPaperSource/mapperIncRefTransPaper2012.bbl
